extends ../layout

append css
  link(rel='stylesheet', href='/css/blog.css')

block main
  block header
    .blog-masthead
      .container
        nav.blog-nav
          if pageName === '/'
            a.blog-nav-item.active(href='/')
              i.fa.fa-home
              | &nbsp;首页
          else
            a.blog-nav-item(href='/')
              i.fa.fa-home
              | &nbsp;首页
          if pageName === '/about'
            a.blog-nav-item.active(href='/about')
              i.fa.fa-address-card
              | &nbsp;关于我
          else
            a.blog-nav-item(href='/about')
              i.fa.fa-address-card
              | &nbsp;关于我
          if pageName === '/contact'
            a.blog-nav-item.active(href='/contact')
              i.fa.fa-volume-control-phone
              | &nbsp;联系
          else
            a.blog-nav-item(href='/contact')
              i.fa.fa-volume-control-phone
              | &nbsp;联系

    .container
      .row
        .col-sm-8.blog-main
          block content
        .col-sm-3.col-sm-offset-1.blog-sidebar
          .sidebar-module.sidebar-module-inset
            h4 关于我
            p
              | Etiam porta
              em sem malesuada magna
              |  mollis euismod. Cras mattis consectetur purus sit amet fermentum. Aenean lacinia bibendum nulla sed consectetur.
          .sidebar-module
            h4 文章分类
            ol.list-unstyled
              li
                a(href='#') March 2014
              li
                a(href='#') February 2014
              li
                a(href='#') January 2014
              li
                a(href='#') December 2013
          .sidebar-module
            h4 友情链接
            ol.list-unstyled
              li
                a(href='#') GitHub
              li
                a(href='#') Twitter
              li
                a(href='#') Facebook
  block footer
    footer.blog-footer
      p
        | Blog template built for
        a(href='http://getbootstrap.com') Bootstrap
        |  by
        a(href='https://twitter.com/mdo') @mdo
        | .
      p
        a(href='#') Back to top
block script
