doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width')
    // The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags
    meta(name='description', content='')
    meta(name='author', content='')
    title= title
    block css
      link(rel='stylesheet', href='/css/ie10-viewport-bug-workaround.css')
      link(rel='stylesheet', href='/components/bootstrap/dist/css/bootstrap.css')
  body
    block main

    //js
    block js
      script(src='/components/jquery/dist/jquery.js')
      script(src='/components/bootstrap/dist/js/bootstrap.js')
      script.
        window.jQuery || document.write('<script src="/components/jquery/dist/jquery.js"><\\/script>')
      // IE10 viewport hack for Surface/desktop Windows 8 bug
      script(src='/js/ie10-viewport-bug-workaround.js')
    block script
